website/prod/aprender/videos/
website/src/aprender/videos/
.venv-vallenato_fr/
html_dev/
renovate.json
startup.sh
upload.sh

**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.github
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/README*
**/secrets.dev.yaml
**/values.dev.yaml
