bin/__pycache__/
bin/tests/__pycache__/
bin/.coverage
bin/client_secret.json
bin/vallenato.fr-oauth2.json
bin/data/uploaded_videos_dump.json
html_dev/coverage/
startup.sh
website/prod/
website/src/aprender/temp/
website/src/aprender/videos/
website/src/flags/*.rar
website/src/leaflet
website/src/bootstrap-[0-9].[0-9].[0-9]-dist
website/src/bootstrap4-toggle-[0-9].[0-9].[0-9]
website/src/jquery-[0-9].[0-9].[0-9].slim.min.js
